@model Web.ViewModel.TaskViewModel
@addTagHelper *, Web

@{
    ViewData["Title"] = "Список";
}

<h2>Задачи</h2>
<a asp-action="Export">Экспортировать в Excel</a>
<hr />
<p>
    <a asp-action="Create">Создать</a>
</p>
<form method="get">
    <div class="form-inline">
        <label>Задача: </label>
        <input name="searchText" value="@Model.FilterViewModel.SearchText" class="form-control" />
        <input type="submit" value="Поиск" class="btn btn-outline-dark" />
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].Timing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].StatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tasks[0].EmployeeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timing)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EmployeeName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<page-link page-model="Model.PageViewModel" page-action="Index"
           page-url-searchText="@(Model.FilterViewModel.SearchText)"></page-link>